{% extends "members/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}
<div class="row">

  <h1>Import Members</h1>

  <p>{{ success_obj|length }} successfully created/found.</p><br>

  <form method="post" action="/members/import/" id="id-form">{% csrf_token %}


    <style>
      #id_input_data {height:150px;}
    </style>
    {% for field in form %}
    {{ field }}<br>
    {% endfor %}
<input type="submit" value="OK">

  </form>

  {% for obj in success_obj %}
    {{ obj }} -- {{ obj.memberships_set.all }}<br>
  {% endfor %}


</div>
{% endblock %}
