{% extends 'members/base.html' %}


{% block content %}


<h1>Approve New Members</h1>

{% if new_member %}

<div class="alert alert-success" >
  <strong>Approved:</strong> New Member Number: #{{ new_member.number }}
  <p>{{ new_member }}</p>

</div>

{% endif %}

<div class="row">
<span class="alert alert-danger pull-right text-right">
  Must be approved one at a time.<br>
  Please <b>check details</b> before approving.<br>
  User 'Defer' option if potentially not genuine or duplicate.
</span>
</div>

{% for obj in obj_list_new %}
<div class="row" style="{% cycle 'background-color: #333' ''  %}">
<form action="" method="post">
  {% csrf_token %}

  <div class="col-md-3">
    <b>{{ obj.name }}</b><br>
    ({{ obj.email }},
    {{ obj.phone }})
  </div>
  <div style="whitespace: nowrap">

    <select name="member_type">
      {% for option in member_types %}
      <option {% if obj.member_type == option.0 %}selected{% endif %}>{{ option.1 }}</option>
      {% endfor %}
    </select>

    <select name="payment_method">
      {% for option in payment_methods %}
      <option {% if obj.payment_method == option.0 %}selected{% endif %}>{{ option.1 }}</option>
      {% endfor %}
    </select>
    <input type="text" name="payment_ref" placeholder="reference" style="width: 3em">
    $<input type="number" name="amount_paid" step="0.50" value="15.00" style="width: 6em">
    <input type="hidden" name="pk" value="{{ obj.pk }}">  &nbsp;
    Approve: &nbsp;  <input type="checkbox" name="approve"> &nbsp;
    <button type="submit" class="hidden-print btn btn-default btn-lg">
      <i class="fa fa-check fa-fw"></i>
      <span class="network-name">Submit</span>
    </button>
     &nbsp; Defer: &nbsp;  <input type="checkbox" name="defer">
  </div>
</form>
</div>
{% endfor %}


{% if obj_list_old %}
<h3 style="opacity: 0.4;">Deferred</h3>
<p style="opacity: 0.4;">Likely not genuine or duplicate.</p>
{% endif %}

{% for obj in obj_list_old %}
<div class="row" style="opacity: 0.4; {% cycle 'background-color: #333' ''  %}">
<form action="" method="post">
  {% csrf_token %}

  <div class="col-md-3">
    <b>{{ obj.name }}</b><br>
    ({{ obj.email }},
    {{ obj.phone }})
  </div>
  <div style="whitespace: nowrap">

    <select name="member_type">
      {% for option in member_types %}
      <option {% if obj.member_type == option.0 %}selected{% endif %}>{{ option.1 }}</option>
      {% endfor %}
    </select>

    <select name="payment_method">
      {% for option in payment_methods %}
      <option {% if obj.payment_method == option.0 %}selected{% endif %}>{{ option.1 }}</option>
      {% endfor %}
    </select>
    <input type="text" name="payment_ref" placeholder="reference" style="width: 3em">
    $<input type="number" name="amount_paid" step="0.50" value="15.00" style="width: 6em">
    <input type="hidden" name="pk" value="{{ obj.pk }}">  &nbsp;
    Approve: &nbsp;  <input type="checkbox" name="approve"> &nbsp;
    <button type="submit" class="hidden-print btn btn-default btn-lg">
      <i class="fa fa-check fa-fw"></i>
      <span class="network-name">Submit</span>
    </button>
  </div>
</form>
</div>
{% endfor %}

{% endblock %}
