{% extends "site/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block meta %}
  {{ block.super }}
  {% if homepage.meta_description %}<meta name="description" content="{{ homepage.meta_description }}" />{% endif %}
{% endblock %}


{% block box %}
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="img/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/slide-3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Business Casual</h1>
                    <h2>
                        <small>By
                            <strong>Start Bootstrap</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}




  <h1>{{ homepage.heading|default:homepage.title }}</h1>
  {% if homepage.featured_content %}<div>{{ homepage.featured_content }}</div>{% endif %}
  {% if homepage.content %}<div>{{ homepage.content|safe }}</div>{% endif %}

  {% for game in game_list %}
    {% if forloop.first %}<h2>Featured games</h2><ul>{% endif %}
      <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  {% for category in category_list %}
    {% if forloop.first %}<h2>Featured categories</h2><ul>{% endif %}
      <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}

  {% for entry in entry_list %}
    {% if forloop.first %}<h2>Latest featured blog entries</h2><ul>{% endif %}
      <li>
        <a href="{{ entry.get_absolute_url }}">{{ entry.publish_at|date:"SHORT_DATE_FORMAT" }} {{ entry }}</a>
        <p>{{ entry.summary }}</p>
      </li>
    {% if forloop.last %}</ul><p><a href="{% url "blog:entry_list" %}">Blog archive</a></p>{% endif %}
  {% endfor %}

{% endblock %}
