{% extends "base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block meta %}
  {{ block.super }}
  {% if homepage.meta_description %}<meta name="description" content="{{ homepage.meta_description }}" />{% endif %}
{% endblock %}


{% block content %}

  <h1>{{ homepage.heading|default:homepage.title }}</h1>
  {% if homepage.featured_content %}<div>{{ homepage.featured_content }}</div>{% endif %}
  {% if homepage.content %}<div>{{ homepage.content|safe }}</div>{% endif %}

{% endblock %}
