{% load thumbnail %}
<div id="carousel-homepage" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators hidden-xs">
    {% for entry in entry_list %}
      <li data-target="#carousel-homepage" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for entry in entry_list %}
    <div class="item {% if forloop.first %}active{% endif %}">
          <a class="carousel-img" href="{{ entry.get_absolute_url }}">
            {% thumbnail entry.featured_image "790x370" crop="center" as im %}
            <img class="img-responsive img-full" src="{{ im.url }}" alt="{{ entry.title }}">
            {% endthumbnail %}
          </a>
          <div class="carousel-text">
            <h2>{{ entry.title }}</h2>
            {% if entry.featured_content %}<p>{{ entry.featured_content|safe }}</p>{% endif %}
            <a href="{{ entry.get_absolute_url }}"><i class="fa fa-caret-right"></i> Details</a>
          </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
