<div id="carousel-homepage" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators hidden-xs">
    {% for entry in entry_list %}
      <li data-target="#carousel-homepage" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for entry in entry_list %}
    <div class="item {% if forloop.first %}active{% endif %}">

        <div class="col-md-8">
          <a href="{{ entry.get_absolute_url }}">
            <img class="img-responsive img-full" src="{{ entry.featured_image.url }}" alt="">
          </a>
        </div>
        <div class="col-md-4 text-left">
          <h2>{{ entry.title }}</h2>
          {% if entry.featured_content %}<p>{{ entry.featured_content }}</p>{% endif %}
          <a href="{{ entry.get_absolute_url }}"><i class="fa fa-caret-right"></i> Details</a>
        </div>

    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
