{% extends "menus/base.html" %}


{% block title %}Menus - {{ block.super }}{% endblock %}


{% block content %}

  <h1>Menus</h1>

  <ul class="list-inline menus">
  {% for object in object_list %}
      <li>
        <h2><a href="http://static.guild.house/public/media/{{ object.menu_file }}">{{ object.title }}</a></h2>
        <p><a href="http://static.guild.house/public/media/{{ object.menu_file }}">{{ object.summary|safe }}</a></p>
        <a href="http://static.guild.house/public/media/{{ object.menu_file }}">{{ object.menu_file.size|filesizeformat }} PDF</a>
        <br>
      </li>
  {% endfor %}
      <li>
        <h2><a href="https://boardgamegeek.com/collection/user/elequ?own=1" target="_blank">Games</a></h2>
        <p><a href="https://boardgamegeek.com/collection/user/elequ?own=1" target="_blank">Link to our<br>BoardGameGeek<br>profile</a></p>
      </li>
  </ul>

{% endblock %}
