<tr {% if obj.status == "No Show" %}style="color: #666; text-decoration: line-through; "{% endif %}>
  <td style="white-space:nowrap">
    {{ obj.reserved_time|time:"H:i" }} </td>

  <td style="white-space:nowrap">{{ obj.service }}</td>
  <td style="white-space:nowrap">{{ obj.party_size }} pax</td>
  <td>
    <a href="{% url "bookings:booking_update" code=obj.code %}" style="white-space:nowrap">
      {{ obj.name }}</a>
    {% if obj.phone != "0000000000" %}{{ obj.phone }}{% endif %}
    {% if obj.phone and obj.email and not obj.email == "unknown@unknown.email" %}, {% endif %}
    {% if not obj.email == "unknown@unknown.email" %}{{ obj.email }}{% endif %}
  </td>
  <td style="white-space:nowrap">
    <em>{{obj.status}}</em>
  </td>
  <td>
    {{ obj.notes }}
  </td>
  <td>
    <a target="_blank" href="{% url "bookings:booking_run" obj.code %}"
       style="white-space:nowrap">
      <small>(run sheet)</small></a> | 
    <a target="_blank" href="{% url "admin:bookings_booking_change" obj.pk %}"
       style="white-space:nowrap">
      <small>(edit)</small>
    </a> <small style="font-family: monospace; font-size: 0.7em; color: #777;">{{ obj.created_at|date:"d/m/Y" }}</small>
  </td>
</tr>
