<tr>
  <td style="white-space:nowrap">
    {{ obj.reserved_date|date:"D" }}
      {{ obj.reserved_date|date:"F j" }}
    {{ obj.reserved_time|time:"H:i" }} </td>

  <td style="white-space:nowrap">{{ obj.service }}</td>
  <td style="white-space:nowrap">{{ obj.party_size }} pax</td>
  <td>
    <a href="{% url "bookings:booking_update" code=obj.code %}">
      {{ obj.name }}</a>
      {% if obj.phone != "0000000000" %}{{ obj.phone }}{% endif %}{% if obj.phone and obj.email%}, {% endif %}{{ obj.email }}
  </td>
  <td>
    <em>{{obj.status}}</em>
  </td>
  <td>
    {{ obj.notes }}
  </td>
  <td>
    <a href="{% url "bookings:booking_update" code=obj.code %}" style="white-space:nowrap">
      <small>(edit)</small>
    </a>
  </td>
</tr>
