{% if not object.code %}
<h5>Select Date:</h5>
{% endif %}
<table id="calendar" border="0" cellpadding="0" cellspacing="0">
  <tr><td colspan="7">Today: <b>{{today|date:"D"}}</b> {{today|date:"j M Y"}}</td></tr>
  <tr id="days_th">
    <th scope="col" class="day_title">M</th>
    <th scope="col" class="day_title">T</th>
    <th scope="col" class="day_title">W</th>
    <th scope="col" class="day_title">T</th>
    <th scope="col" class="day_title">F</th>
    <th scope="col" class="day_title">S</th>
    <th scope="col" class="day_title">S</th>
  </tr>
{% for x in calendar %}
{% cycle '  <tr>' '' '' '' '' '' '' %}
    <td width="20" align="center" class="date-td">
    <div class="cal_day {% if month.month != x.day.month %}non_month{% endif %}">
	<div {% if x.day == today %}id="today"{% endif %}
             {% if x.events %}class="event_on"{% endif %}
             title='{% for event in x.events %}{{event.event.time|time:"fA"|lower}} {{event.event}}{% if not forloop.last %}, {% endif %}{% endfor %}'>

    {% if x.events %}
    <a class="event_a" href="/events/{{x.day|date:'Y/m/d/'}}{% if x.events|length == 1 %}{% for event in x.events %}{{event.event.slug}}/{% endfor %}{% endif %}">
      {% endif %}

      <div class="date {% if object.reserved_date == x.day %} selected{% endif %} {% if x.day >= today %}" data-time="{{x.day|date:'/Y/m/d/'}}" data-date="{{x.day|date:'d/m/Y'}}"{% else %}date-inactive{% endif %}">
        <div class="wkday">{{x.day|date:"D"}}</div>
        {{x.day|date:"j"}}
        <div class="mth">{{x.day|date:"M"}}</div>
      </div>

    {% if x.events %}
    </a>
    {% endif %}

        </div>
    </div>

    </td>
{% cycle '' '' '' '' '' '' '  <tr>' %}
{% endfor %}
</table>
