<div><b>Lunch</b><br>
  <span data-time="12:00" class="time {% if object.reserved_time|time:"H:i" == "12:00" %}active{% endif %}">12:00</span>
  <span data-time="12:15" class="time {% if object.reserved_time|time:"H:i" == "12:15" %}active{% endif %}">12:15</span>
  <span data-time="12:30" class="time {% if object.reserved_time|time:"H:i" == "12:30" %}active{% endif %}">12:30</span>
  <span data-time="13:00" class="time {% if object.reserved_time|time:"H:i" == "13:00" %}active{% endif %}">13:00</span>
  <span data-time="13:30" class="time {% if object.reserved_time|time:"H:i" == "13:30" %}active{% endif %}">13:30</span>
  <span data-time="14:00" class="time {% if object.reserved_time|time:"H:i" == "14:00" %}active{% endif %}">14:00</span>
</div>
<div><b>Afternoon</b><br>
  <span data-time="14:30" class="time {% if object.reserved_time|time:"H:i" == "14:30" %}active{% endif %}">14:30</span>
  <span data-time="15:00" class="time {% if object.reserved_time|time:"H:i" == "15:00" %}active{% endif %}">15:00</span>
  <span data-time="15:30" class="time {% if object.reserved_time|time:"H:i" == "15:30" %}active{% endif %}">15:30</span>
  <span data-time="16:00" class="time {% if object.reserved_time|time:"H:i" == "16:00" %}active{% endif %}">16:00</span>
  <span data-time="16:30" class="time {% if object.reserved_time|time:"H:i" == "16:30" %}active{% endif %}">16:30</span>
  <span data-time="17:00" class="time {% if object.reserved_time|time:"H:i" == "17:00" %}active{% endif %}">17:00</span>
  <span data-time="17:15" class="time {% if object.reserved_time|time:"H:i" == "17:15" %}active{% endif %}">17:15</span>
  <span data-time="17:30" class="time {% if object.reserved_time|time:"H:i" == "17:30" %}active{% endif %}">17:30</span>
  <span data-time="17:45" class="time {% if object.reserved_time|time:"H:i" == "17:45" %}active{% endif %}">17:45</span>
</div>
<div><b>Dinner</b><br>
  <span data-time="18:00" class="time {% if object.reserved_time|time:"H:i" == "18:00" %}active{% endif %}">18:00</span>
  <span data-time="18:15" class="time {% if object.reserved_time|time:"H:i" == "18:15" %}active{% endif %}">18:15</span>
  <span data-time="18:30" class="time {% if object.reserved_time|time:"H:i" == "18:30" %}active{% endif %}">18:30</span>
  <span data-time="18:45" class="time {% if object.reserved_time|time:"H:i" == "18:45" %}active{% endif %}">18:45</span>
  <span data-time="19:00" class="time {% if object.reserved_time|time:"H:i" == "19:00" %}active{% endif %}">19:00</span>
  <span data-time="19:15" class="time {% if object.reserved_time|time:"H:i" == "19:15" %}active{% endif %}">19:15</span>
  <span data-time="19:30" class="time {% if object.reserved_time|time:"H:i" == "19:30" %}active{% endif %}">19:30</span>
  <span data-time="19:45" class="time {% if object.reserved_time|time:"H:i" == "19:45" %}active{% endif %}">19:45</span>
  <span data-time="20:00" class="time {% if object.reserved_time|time:"H:i" == "20:00" %}active{% endif %}">20:00</span>
  <span data-time="20:15" class="time {% if object.reserved_time|time:"H:i" == "20:15" %}active{% endif %}">20:15</span>
  <span data-time="20:30" class="time {% if object.reserved_time|time:"H:i" == "20:30" %}active{% endif %}">20:30</span>
  <span data-time="21:00" class="time {% if object.reserved_time|time:"H:i" == "21:00" %}active{% endif %}">21:00</span>
</div>

  </div>

  <div class="col-sm-1">
    <b>People</b><br>
    <div data-pax="1" class="pax {% if object.party_size == 1 %}active{% endif %}">1</div>
    <div data-pax="2" class="pax {% if object.party_size == 2 %}active{% endif %}">2</div>
    <div data-pax="3" class="pax {% if object.party_size == 3 %}active{% endif %}">3</div>
    <div data-pax="4" class="pax {% if object.party_size == 4 %}active{% endif %}">4</div>
    <div data-pax="5" class="pax {% if object.party_size == 5 %}active{% endif %}">5</div>
    <div data-pax="6" class="pax {% if object.party_size == 6 %}active{% endif %}">6</div>
    <div data-pax="7" class="pax {% if object.party_size == 7 %}active{% endif %}">7</div>
    <div data-pax="8" class="pax {% if object.party_size == 8 %}active{% endif %}">8</div>
    <div data-pax="9" class="pax {% if object.party_size == 9 %}active{% endif %}">9</div>
    <div data-pax="10" class="pax {% if object.party_size == 10 %}active{% endif %}">10</div>
    <div data-pax="11" class="pax {% if object.party_size == 11 %}active{% endif %}">11</div>
    <div data-pax="12" class="pax {% if object.party_size == 12 %}active{% endif %}">12</div>
    <div data-pax="13" class="pax {% if object.party_size == 13 %}active{% endif %}">13</div>
    <div data-pax="14" class="pax {% if object.party_size == 14 %}active{% endif %}">14</div>
    <div data-pax="15" class="pax {% if object.party_size == 15 %}active{% endif %}">15</div>
    <div data-pax="16" class="pax {% if object.party_size == 16 %}active{% endif %}">16</div>
    <div data-pax="17" class="pax {% if object.party_size == 17 %}active{% endif %}">17</div>
    <div data-pax="18" class="pax {% if object.party_size == 18 %}active{% endif %}">18</div>
    <div data-pax="20" class="pax {% if object.party_size == 20 %}active{% endif %}">20</div>
    <div data-pax="21" class="pax {% if object.party_size == 21 %}active{% endif %}">21</div>
    <div data-pax="22" class="pax {% if object.party_size == 22 %}active{% endif %}">22</div>
    <div data-pax="24" class="pax {% if object.party_size == 24 %}active{% endif %}">24</div>
    <div data-pax="25" class="pax {% if object.party_size == 25 %}active{% endif %}">25</div>
    <div data-pax="28" class="pax {% if object.party_size == 28 %}active{% endif %}">28</div>
    <div data-pax="30" class="pax {% if object.party_size == 30 %}active{% endif %}">30</div>
    <div data-pax="32" class="pax {% if object.party_size == 32 %}active{% endif %}">32</div>
    <div data-pax="35" class="pax {% if object.party_size == 35 %}active{% endif %}">35</div>
    <div data-pax="40" class="pax {% if object.party_size == 40 %}active{% endif %}">40</div>
    <div data-pax="50" class="pax {% if object.party_size == 50 %}active{% endif %}">50</div>
    <div data-pax="60" class="pax {% if object.party_size == 60 %}active{% endif %}">60</div>
  </div>
