{% if not object.code %}
<h5>Time:</h5>
{% endif %}

{% for time in time_list %}
{% if time.service %}
{% if not forloop.first %}
{% if time.service %}
</div>
{% endif %}
{% endif %}

<div><b>{{ time.service|title }}</b><br>
{% endif %}
  <span data-time="{{ time.select_time|time:"H:i:s" }}"
        data-full="{% if time.pax > 105 %}full{% endif %}"
        class="time{% if time.heat %} {{ time.heat }}{% endif %}">
    {{ time.time }}
    <div class="howfull">
      {% if time.pax > 105 %}<span style="color: red;">&gt;75%</span>
      {% elif time.pax > 85 %}&gt;65%
      {% elif time.pax > 60 %}&gt;50%{% else %}
      &nbsp;
      {% endif %}
    </div>
    {% if user.is_authenticated %}{{ time.pax }}{% endif %}
  </span>
{% endfor %}
</div>

{% if user.is_authenticated %}
<br><div>---</div>
<b>Management Information</b><br>
<br>
Total: {% if pax_total %}{{ pax_total }}{% else %}0{% endif %}pax<br>
<br>
All Bookings:<br>
<br>
{% for booking in booking_list %}
  {{ booking }}<br>
{% endfor %}
{% endif %}

<script>
$(".time").click(function() {
  $("#id_reserved_time").val($(this).data("time")).addClass("selected");
  if($(this).data("full")=="full"){
    $(".full-warning").show();
    $(".submit-buttons").hide();

  } else {
    $(".time").removeClass("selected");
    $(this).removeClass("hot");
    $(this).removeClass("warm");
    $(this).removeClass("full");
    $(this).addClass("selected");
    $(".full-warning").hide();
    $(".submit-buttons").show();
  };
});


{% if busy_night %}
$(".booking-warning").show();
$("#id_private_notes").val("Warned, maybe full.");
$("#id_booking_duration").parents("tr").show();
{% else %}
$(".booking-warning").hide().css("display: None");
$("#id_private_notes").val("");
$("#id_booking_duration").parents("tr").hide();
{% endif %}

</script>
