{% extends "base.html" %}

{% block box_above %}
{% if not user.is_anonymous %}
      <ul>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_today" %}">Today</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_list" %}">All Bookings</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_list_cancelled" %}">Cancelled</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_add" %}">New</a>
        </li>
      </ul>
{% endif %}
{% endblock %}
