{% extends "base.html" %}

{% block box_above %}
{% if user.is_authenticated %}
      <div style="opacity: 0.8;" class="hidden-print featured_text">
      <ul class="hidden-print">
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_today" %}">Today</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_list" %}">Upcoming</a> (<a href="{% url "bookings:booking_list_num" %}">Numbers</a>)
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_list_cancelled" %}">Cancelled</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_add" %}">New</a>
        </li>
        <li style="display: inline; list-style-type: none; padding-right: 20px">
          <a href="{% url "bookings:booking_default_post" %}">Add</a>
        </li>

        <i style="opacity: 0.5; float:right;">(This menu only displayed while logged in)</i>
      </ul>
      </div>
{% endif %}
{% endblock %}
