{% extends "bookings/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h3>Bookings for {{ day|date:"l j-F-Y" }}</h3>
    <h4>Total: {{ total.party_size__sum }}</h4>

    {% for service in services %}
    {{ service.0.1 }}: {% if service.1.party_size__sum %}<b>{{ service.1.party_size__sum }}</b> pax{% else %}-{% endif %}<br>
    {% endfor %}


    <h4>Active Bookings</h4>
    <table id="bookings">
      <thead>
      <tr>
        <th>Date/Time <i class="fa fa-angle-down"></i></th>
        <th>Service <i class="fa fa-angle-down"></i></th>
        <th>Pax <i class="fa fa-angle-down"></i></th>
        <th>Contact <i class="fa fa-angle-down"></i></th>
        <th>Status <i class="fa fa-angle-down"></i></th>
      </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
      {% include "bookings/_booking_list.html" %}
      {% endfor %}
      </tbody>
    </table>
    <hr>

  </div>
  <div class="col-lg-4 hidden-print">
    {% include "bookings/_bookings_summary.html" %}
  </div>
</div>

<div class="hidden-print">
  {% include "bookings/_booking_day_navigation.html" %}
</div>

{% endblock %}


{% block extra_static %}
{{ block.super }}

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('table#bookings').DataTable({"sDom": 't'});
});
</script>
{% endblock %}
