{% extends "bookings/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h3>Bookings for {{ day|date:"l j-F-Y" }}</h3>
    <h4>Total: {{ total.party_size__sum }}</h4>
    <h4>Active Bookings</h4>
    <table>
      {% for obj in object_list %}
      {% include "bookings/_booking_list.html" %}
      {% endfor %}
    </table>
    <hr>
    <h4 style="color: rgba(156, 83, 83, 0.51);">Cancelled Bookings</h4>
    <div style="color: rgba(156, 83, 83, 0.51);">
    {% if cancelled_list %}
    <table>
      {% for obj in cancelled_list %}
      {% include "bookings/_booking_list.html" %}
      {% endfor %}
    </table>
    {% else %}
    <em>None</em>
    {% endif %}
    </div>

  </div>
  <div class="col-lg-4">
    {% include "bookings/_bookings_summary.html" %}
  </div>
</div>

{% include "bookings/_booking_day_navigation.html" %}

{% endblock %}
