{% extends "bookings/base.html" %}
{% load static from staticfiles %}

{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}

<div class="row">
    {% if not object.code %}
      <h2>New Booking</h2>
    {% endif %}

{% if form.errors %}
<div class="btn btn-danger">
Woah! Your booking wasn't saved.</div><br>
At a minimum we need: Name, Date/Time, Party size and some contact details.

<p>
{% for k, v in form.errors.items %}
<div class="btn btn-primary">
{% if k == '__all__' %}
Please supply both email address and phone number.
{% else %}
{{ k }} is incomplete.
{% endif %}
</div>
</p>

{% endfor %}
{% endif %}

  {% if not update_view %}
  <div class="col-sm-5">
    {% include "bookings/_calendar.html" %}
    <hr>
    <div id="time"></div>
    {# include "bookings/_time.html" #}
  </div>

  <div class="col-sm-1">
    {% include "bookings/_pax.html" %}
  </div>
  {% endif %}

  <div class="col-sm-6">
    {% if object.code %}
      <h3>{% include "bookings/_booking_list.html" with obj=object %}</h3>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form }}

        <tr>
          <th></th>
          <td>
            <button type="submit" class="btn btn-default btn-lg">
              <i class="fa fa-save fa-fw"></i>
              <span class="network-name">Save</span>
            </button>
            <button type="submit" class="btn btn-default btn-lg" id="remove">
              <i class="fa fa-trash fa-fw"></i>
              <span class="network-name">Cancel</span>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<ul>
    {% for obj in object_list %}
    {% include "bookings/_booking_list.html" %}
    {% endfor %}
</ul>


{% endblock %}

{% block extra_static %}
<script>

$(document).ready(function(){
  $.ajax({
    url: "/bookings/time{{ today|date:"/Y/m/d/" }}",
    success: function(result){$( "#time" ).html(result);}
  });
});

$(".date").click(function() {
  $("#id_reserved_date").val($(this).data("date")).addClass("selected");
  $(".date").removeClass("selected");
  $(this).addClass("selected");
  $.ajax({
    url: "/bookings/time"+$(this).data("time"),
    success: function(result){$( "#time" ).html(result);},
    dataType : "html"
  });
});
$(".pax").click(function() {
  $("#id_party_size").val($(this).data("pax")).addClass("selected");
  $(".pax").removeClass("selected");
  $(this).addClass("selected");
});
$("#id_phone, #id_name, #id_email, #id_party_size, #id_reserved_date, #id_reserved_time, #id_booking_method, #id_notes").change(function(){
  $(this).addClass("selected");
})
$("#remove").click(function() {$("id_status".val(""))})

</script>

<link href="{% static "stylesheets/clockpicker.css" %}" type="text/css" rel="stylesheet" />
<script src="{% static "scripts/clockpicker.js" %}" type="text/javascript"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script>
  $('#id_reserved_time').clockpicker({donetext: 'done'});
  $('#id_reserved_date').datepicker({dateFormat: 'dd/mm/yy', minDate: 0});
</script>

{% endblock %}
