{% extends "bookings/base.html" %}


{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}


{% block content %}
<div class="row">

  <h1>Import Bookings</h1>

  {{ success_obj }} successfully created/found.

  <form method="post" action="/bookings/post/" id="id-form">{% csrf_token %}
    {% for field in form %}
    {{ field }}<br>
    {% endfor %}
<input type="submit" value="OK">

  </form>

</div>
{% endblock %}


{% block extra_static %}
{{ block.super }}

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('table#bookings').DataTable({"sDom": 't'});
});
</script>
{% endblock %}
