{% extends "bookings/base.html" %}

{% block title %}{{ homepage.title }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        <h3>Reservations for {% now "jS F Y" %}</h3>
        <table class="reservations">
          <thead>
          <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Total Pax</th>
            <th>Allocated Table(s)</th>
          </tr>
          </thead>
          <tbody>
          {% for booking in object_list %}
              <tr>
                  <td>{{booking.reserved_time}}</td>
                  <td>{{booking.name}}</td>
                  <td>{{booking.party_size}}</td>
                  <td class="assignedTable"></td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div>
            <h4>Lunch</h4>
            <div class="timeNotes">
            </div>
        </div>
        <div>
            <h4>Dinner</h4>
            <div class="timeNotes">

            </div>
        </div>
        <div>
            <h4>Available Tables</h4>
            <div id="tableList">
                {% for section,tables in table_layout.items %}
                    <h4>{{ section }}</h4>
                    <div class="row">
                        {% for table in tables %}
                            <div class="col-sm-1 tableField">
                                {{ table }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        <br>
            <div class="tableNotes">

            </div>
        </div>
    </div>
</div>



{% endblock %}