{% load static from staticfiles %}
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{% url "site:homepage_detail" %}">
        <img src="{% static "sheild-.png" %}" height=24>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse navbar-center navbar-main-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="active">
          <a class="home-link" href="{% url "site:homepage_detail" %}">
            <img src="{% static "sheild-.png" %}" height=24>
          </a>
        </li>


        {% load tree_menu_tags %}
        {% show_menu "MainNavigation" %}


        <li>
          <a href="#location" class="page-scroll">
            Find Us <i class="fa fa-map-marker"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/guildhouse.canberra" target="_blank"><i class="fa fa-facebook-square fa-fw"></i></a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
