{% load static from staticfiles %}
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background: rgba(255,0,0,0.8)">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{% url "site:homepage_detail" %}">
        <img src="{% static "sheild-.png" %}" height=24>
      </a>
    </div>

    <div class="navbar-collapse navbar-center navbar-main-collapse collapse" aria-expanded="false" style="height: 1px;">

      <ul class="nav navbar-nav">
        <li><h4>DEV/TESTING ... NOT REAL: MAY BE BUGGY</h4></li>

        <li class="active">
          <a class="home-link" href="{% url "site:homepage_detail" %}">
            <img src="{% static "sheild-.png" %}" height=24>
          </a>
        </li>

        {% load tree_menu_tags %}
        {% show_menu "MainNavigation" %}

        <li>
          <a href="#location" class="page-scroll">
            Find Us <i class="fa fa-map-marker"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/guildhouse.canberra" target="_blank"><i class="fa fa-facebook-square fa-fw"></i></a>
        </li>
      </ul>

  {% if user.is_authenticated %}
  <div class="hidden-print featured_text" style="text-align: center;">
    Logged in: <a href="/admin/">{{ user }}</a> |
    <a href="/admin/">Admin</a> |
    <a href="{% url 'bookings:booking_list' %}">Bookings</a> |
    <a href="{% url 'members:member_approval' %}">Approve</a> |
    <a href="/admin/logout/">Log out</a>
  </div>
  {% endif %}


    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
