<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">

<head>
    <title>{% block title %}{{ request.site.name }}{% endblock %} - Board Games Pizza Craft Drinks Canberra</title>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="ypeEk5RozV8DIeR1EXzRJJdHCNLlfSbM5PpfM2f2tXY" />
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    <link href="{% static "stylesheets/normalize.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "stylesheets/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "stylesheets/default.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% block extrahead %}{% endblock %}
  </head>

<body>

  {% include "_navigation.html" %}

  {% if not user.is_anonymous %}<div class="hidden-print" style="float: right; margin-top:70px;">Logged in: <a href="/admin/">{{ user }}</a> (<a href="/admin/logout/">Log out</a>)</div>{% endif %}

    <!-- Branding -->
    <div class="brand"><a href="{% url "site:homepage_detail" %}"><img src="{% static "img/guild_white.png" %}" alt="Guild, Canberra's Board games beer restaurant cafe"></a></div>
    <div class="address-bar">
      <span class="light">Board Games &middot; Restaurant &middot; Canberra</span><br>
      <a href="mailto:reservations@guild.house">reservations@guild.house</a>
      &middot; <a href="tel:+61262572727">02 6257 2727</a>
      <br>Open 7 Days &middot; Midday until Late
    </div>

{% if messages %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    {# <!-- /.container --> #}
    <div class="container">



    {% block sub_nav %}
    {% endblock %}

    {% if not user.is_anonymous %}{% endif %}


    {% block box_above %}
    {% endblock %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
    {% block content %}
    {% endblock %}
                </div>
            </div>
        </div>

    {% block box_below %}
    {% endblock %}

        <div class="row hidden-print" id="location">
            <div class="box">
                <div class="col-lg-12">
                  <h2>Where? Here!</h2>
                  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB26kOQoCsLOLJT7wpDWvz4-KFwM5sWy0k&q=Guild+Canberra" allowfullscreen>
                  </iframe>
                  <p>We're located in the heart of Canberra City, downstairs at Bailey's Arcade. Next to the Civic bus interchange, across from the Canberra Theatre.</p>
                </div>
            </div>
        </div>

    <footer class="hidden-print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h2>Contact Us</h2>
                </div>
                <div class="col-lg-12 text-center">
                <p>Feel free to email us to make a reservation, provide some feedback, or to just say hello!</p>
                <p><a href="mailto:hello@guild.house">hello@guild.house</a><br>
                  <a href="tel:+61262572727">02 6257 2727</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://facebook.com/guildhouse.canberra" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </footer>
    </div>
    {# <!-- /.container --> #}

    <script src="{% static "scripts/jquery.js" %}"></script>
    <script src="{% static "scripts/bootstrap.min.js" %}"></script>
    <script src="{% static "scripts/jquery.easing.min.js" %}"></script>
    <script src="{% static "scripts/guild.js" %}"></script>

    {% block extra_static %}
    {% endblock %}

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3500 //changes the speed
    })
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-70431612-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>

</html>
