<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">

  <head>
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8" />
    {% endblock %}

    <link href="{% static "stylesheets/normalize.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "stylesheets/default.css" %}" type="text/css" rel="stylesheet" />

    {% block extrahead %}{% endblock %}
  </head>

  <body>

    <ul>
      <li><a href="{% url "site:homepage_detail" %}">Home</a></li>
      <li><a href="{% url "library:category_list" %}">Game library</a></li>
    </ul>

    {% block content %}
    {% endblock %}

  </body>

</html>
