<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">

  <head>
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8" />
    {% endblock %}

    <link href="{% static "stylesheets/normalize.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "stylesheets/default.css" %}" type="text/css" rel="stylesheet" />

    {% block extrahead %}{% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>

</html>
