<style type="text/css">
/*
#disqus_thread h3 {font-size: 11px;}
*/
div#dsq-reply, div.dsq-textarea-wrapper, 
select#dsq-sort-select {font-size:10px;}
div.dsq-textarea-wrapper {min-height: 90px; padding: 3px; background: #500000;} /*5d3434*/
#dsq-content #dsq-global-toolbar .dsq-toolbar-item,
#dsq-content .dsq-avatar img, div.dsq-textarea-background, #dsq-reply .dsq-post-tools {
border: 0; box-shadow: 0; -moz-box-shadow: 0; -webkit-box-shadow: 0;
border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
#dsq-content #dsq-global-toolbar .dsq-toolbar-item {margin: 0; height: 20px; background-position-y: -1px;}
#dsq-content .dsq-avatar img {width: 36px; height: 36px;}
#dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap {
-moz-border-radius: 0; -webkit-border-radius: 0;
height: 18px; background: #330000; background-position-y: -2px; z-index: 1000;}
div.dsq-comment-header {background: #330000; padding: 3px 5px 5px 5px; margin: 5px 0; border: none;}
.dsq-post-tools .dsq-post-as .dsq-button, button.dsq-button, 
.dsq-post-tools .dsq-post-as .dsq-button, button.dsq-button:hover, 
button.dsq-button-small {line-height: 14px; color: #aaa; margin: 0 1px 0 2px;padding: 6px 10px 4px 10px; 
border: none; background: #330000; text-shadow: none; box-shadow: 0; -moz-box-shadow: 0; -webkit-box-shadow: 0;
border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;font-size: 10px; font-weight: normal; height: 25px;}
span.dsq-commenter-name {font-size: 11px; color: #eee;}
#dsq-content .dsq-show-tools .dsq-post-tools {
display: block;height: 24px;padding: 0 5px;}
button.dsq-button:hover{ background: #999; }
.dsq-comment-body {padding: 0 0 0 42px;}
div#dsq-global-toolbar, #disqus_thread h3, table.dsq-global-toolbar-container,
div.dsq-community-preview, div#dsq-sort-by{ visibility:hidden; display:none;}
div#dsq-popup-message.dsp-popup.dsp-popup-message.dsp-login-box {position: relative!important; top: 0; left: 300px;}
div#dsq-popup-message.dsp-popup.dsp-popup-message {position: relative!important; top: 0; left: 300px;}
ul#dsq-footer {display: none;}
div.dsq-popup-container {left: 80%;}
/**/
</style>
<div id="disqus_thread" style="font-size: 10px; margin: 10px 0 0 10px;"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>	
<script type="text/javascript">
    var disqus_shortname = 'transitbar';
    var disqus_url = 'http://transitbar.com.au{{current_path}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>


